.auto-generate-btn {
  background: linear-gradient(270deg, #53e33f, #3fa323);
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 500;
  color: #fff !important;
  border: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 80px;
}

.auto-generate-btn:hover {
  background: linear-gradient(135deg, #3fa324);
  box-shadow: 0 6px 12px rgba(13, 96, 50, 0.4);
  transform: scale(1.05);

}
.btn-pill {
  border: none;
  border-radius: 50px; /* pill shape */
  transition: all 0.2s ease-in-out;
  color: #fff;
  padding: 0.5rem 1rem;
  display: inline-block;
  text-align: center;
}

/* Variants */
.btn-success-custom {
  background-color: #198754;
}

.btn-success-custom:hover {
  background-color: #157347;
}


.auto-generate-btn .spinner-border {
  color: #fff;
}
