.sessions-container {
  max-width: 900px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  padding: 10px;
}

.tests-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.test-card {
  width: 250px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f4f2f2;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  font-size: 15px;
  text-align: center;
}

.start-btn {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  background: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.start-btn.disabled {
  background: #6c757d;
  cursor: not-allowed;
}

.current-test {
  margin-top: 20px;
  padding: 15px;
  background: #f8f4f4;
  border-radius: 8px;
}

.question-item {
  margin-bottom: 15px;
}

.question-text {
  font-weight: bold;
  margin-bottom: 8px;
}

.options-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.option-btn {
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  text-align: left;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  transition: 0.2s;
}

.option-btn:hover {
  background: #e0f7fa;
}

.option-btn.selected {
  background: #b3e5fc;
  border-color: #0288d1;
}

.test-actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.submit-btn {
  background: #28a745;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn {
  background: #6c757d;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.analytics-section {
  margin-top: 30px;
}


.option-btn:disabled {
  background: #eee;
  border-color: #ccc;
  color: #777;
  cursor: not-allowed;
}


.back-btn{
  display: flex;
  flex-direction: row ;
  justify-content: center;
  gap:20px
}